html{
    position: relative;
    min-height: 100%;
}

body{
    margin: 0 0 80px; /* bottom = footer height */
    font-size: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

nav {
    background-color: #2F4F4F;
    text-align: center;
    padding: 30px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
}

